# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
.idea/